// **** DESCRIPTION **** //
// ===================== //

.descriptions{
    background: $color-black;
    width: 100vw;
    height: fit-content;
    padding: 150px;
    overflow: hidden;
    @media screen and (max-width : 1175px){
        padding: 50px;
    }
    grid-template-columns: 1fr;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    h2{
        color: $color-white;
        text-align: center;
    }
    .container-description{
        position: relative;
        .background-line{
            position: absolute;
            width: 100%;
            max-width: 1600px;
            bottom: -152px;
            right: 0;
        }
        padding-top: 150px;
        display: grid;
        grid-template-columns: 3fr 1fr;
        align-items: flex-start;
        @media screen and (max-width : 1175px){
            grid-template-columns: 1fr;
        }
        .description-left{
            display: flex;
            align-items: center;
            @media screen and (max-width : 1175px){
                justify-content: center;
                flex-direction: column;
            }
            .container-glasses{
                flex-shrink: 0;
                background: $color-gray;
                width: 80px;
                height: 80px;
                border-radius: 9999px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 20px;
                img{
                    width: 80%;
                }
            }
            p{
                margin: 0 30px;
                font-size: 1.6em;
                width: 70%;
            }
        }
        .description-right{
            div{
                display: flex;
                align-items: center;
                flex-direction: row;
                margin: 30px 0;
                @media screen and (max-width : 1175px){
                    justify-content: center;
                }
                span{
                    font-size: 6em;
                    font-family: $font-roboto-black;
                }
                p{
                    margin: 0 20px;
                    font-size: 1.6em;
                }
            }
        }
    }
}