// **** DESCRIPTION **** //
// ===================== //

.description{
    background: $color-black;
    position: absolute;
    right: 0;
    left: 0;
    height: 300px;
    .container-description{

    }
}