// **** HEADER **** //
// ================ //

header, footer{
    padding-bottom: 30px;
    .header-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px;
        .header-logo{
            font-family: $font-roboto-black;
            font-weight: bolder;
            font-size: 20px;
        }
        ul{
            display: flex;
            align-items: center;
            li:not(.no-padding){
                padding: 0 20px;
            }
            @media screen and (max-width : 1175px){
                display: none;
            }
        }
        .burger-menu{
            display: none;
            width: 60px;
            img{
                width: 100%;
            }
            @media screen and (max-width : 1175px){
                display: block;
            }
        }
    }
}