// **** HERO **** //
// ============== //

.hero{
    .hero-top{
        display: grid;
        grid-template-columns: 70% 30%;
        align-items: center;
        margin-top: 80px;
        position: relative;
        .hero-top-img{
            width: 100%;
            min-width: 400px;
            height: 400px;
            background: url("../../../assets/images/hero/img-arch1.jpeg");
            background-position: center;
            background-size: cover;
        }
        h1{
            position: absolute;
            right: 0;
            text-align: end;
            width: 50vw;
            font-size: clamp(40px, 5vw, 80px);
        }
    }
    .hero-bottom{
        display: flex;
        height: 350px;
        margin-top: 30px;
        .hero-bottom-text{
            margin-top: 50px;
            p{
                width: 30%;
                margin: 20px 0;
            }
        }
        .hero-bottom-images{
            position: relative;
            .hero-bottom-img{
                position: absolute;
                z-index: 2;
                right: 0;
                &:nth-of-type(1){
                    background: url("../../../assets/images/hero/img-arch2.jpeg");
                    background-position: center;
                    background-size: cover;
                    width: 450px;
                    height: 500px;
                }
                &:nth-of-type(2){
                    bottom: -70px;
                    right: 300px;
                    background: url("../../../assets/images/hero/img-arch3.jpeg");
                    background-position: center;
                    background-size: cover;
                    width: 400px;
                    height: 300px;
                }
            }
        }
    }
}