// **** PROJECTS ****
// ==================

.projects{
    .container-projects{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 80px;
        @media screen and (max-width : 1175px){
            grid-template-columns: 1fr;
        }
        .card-project-horizontal{
            width: 100%;
            grid-column: 1 / 3;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 50px 0;
            @media screen and (max-width : 1175px){
                grid-column: 1 / 2;
            }
            .container-description-project{
                width: 80%;
                @media screen and (max-width : 1175px){
                    width: 80%;
                }
            }
            .img-project{
                width: 100%;
            }
        }
        .card-project-vertical{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            &:nth-child(even){
                align-items: flex-start;
            }
            @media screen and (max-width : 1175px){
                justify-content: space-between;
                flex-direction: row;
            }
            .container-description-project{
                width: 80%;
                @media screen and (max-width : 1175px){
                    width: 60%;
                }
            }
            .img-project{
                width: 100%;
            }
        }
    }
    .card-description-project{
        margin: 40px 0;
        .year{
            font-family: $font-roboto-light;
            font-size: 2em;
        }
        .title{
            font-family: $font-roboto-medium;
            font-size: 3.5em;
            margin: 15px 0;
        }
        a img{
            width: 90px
        }
    }
    .numbers-of-project{
        font-family: $font-roboto-black;
        font-size: 10em;
        color: transparent;
        -webkit-text-stroke: 2px;
        -webkit-text-stroke-color: $color-black;
        @media screen and (max-width : 1175px){
            font-size: 6em;
            padding: 10px;
        }
    }
}