// **** VARIABLES **** //
// =================== //

// Colors
$color-black: #070707;
$color-gray: #484848;
$color-white: #f1f1f1;
$color-violet: #6825FB;

// Fonts
$font-roboto-light: 'Roboto Ligt', 'Helvetica', sans-serif;
$font-roboto-black: 'Roboto Black', 'Helvetica',sans-serif;