// **** RESET **** //
// =============== //
*, *::after, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.padding{
    padding: 0 7vw;
    max-width: 1400px;
    margin: 0 auto;
}

body{
    font-size: 62.5%;
    background-image: url('../../images/background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}